kctl/
gapic/
generated/
protos/api-common-protos/
swift/.build/
swift/kiosk-swift.xcodeproj/
swift/kiosk_descriptor.pb
swift/Package.resolved
swift/kiosk-server-swift
swift/kiosk-tool-swift

.DS_Store

